<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password generator</h1>
      <div class="field">
        <label for="input">Password length:</label>
        <div class="control">
          <input class="input" (input)="onChangeLength($event)" />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use symbols
          </label>
        </div>
      </div>

      <button
        class="button is-info"
        [disabled]="!(length && (useLetters || useNumbers || useSymbols))"
        (click)="buttonClicked()"
      >
        Generate
      </button>

      <div class="field">
        <label for="">
          Generated password:
          <input class="input" [value]="password" type="text" />
        </label>
      </div>
    </div>
  </div>
</div>
