<h1>Password generator</h1>

<p>
  <label for="input">Password length:</label>
  <input (input)="onChangeLength($event)" />
</p>

<p>
  <label for="">Use letters:</label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</p>

<p>
  <label for="">Use numbers:</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</p>

<p>
  <label for="">Use symbols:</label>
  <input (change)="onChangeUseSymbols()" type="checkbox" />
</p>

<p>
  <button (click)="buttonClicked()">Generate</button>
</p>

<p>
  <label for="">Generated password:</label>
  <input type="text" />
</p>
